<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nationalPark">
            <h2><span jhiTranslate="jhipsterApp.nationalPark.detail.title">National Park</span> {{nationalPark.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.nationalPark.name">Name</span></dt>
                <dd>
                    <span>{{nationalPark.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.nationalPark.location">Location</span></dt>
                <dd>
                    <span>{{nationalPark.location}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.nationalPark.capacity">Capacity</span></dt>
                <dd>
                    <span>{{nationalPark.capacity}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.nationalPark.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="nationalPark.picture">
                        <a (click)="openFile(nationalPark.pictureContentType, nationalPark.picture)">
                            <img [src]="'data:' + nationalPark.pictureContentType + ';base64,' + nationalPark.picture" style="max-width: 100%;" alt="nationalPark image"/>
                        </a>
                        {{nationalPark.pictureContentType}}, {{byteSize(nationalPark.picture)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/national-park', nationalPark.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
