<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.nationalPark.home.title">National Parks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-national-park" [routerLink]="['/national-park/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterApp.nationalPark.home.createLabel">
            Create new National Park
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nationalParks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="jhipsterApp.nationalPark.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location"><span jhiTranslate="jhipsterApp.nationalPark.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="capacity"><span jhiTranslate="jhipsterApp.nationalPark.capacity">Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="picture"><span jhiTranslate="jhipsterApp.nationalPark.picture">Picture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nationalPark of nationalParks ;trackBy: trackId">
                <td><a [routerLink]="['/national-park', nationalPark.id, 'view' ]">{{nationalPark.id}}</a></td>
                <td>{{nationalPark.name}}</td>
                <td>{{nationalPark.location}}</td>
                <td>{{nationalPark.capacity}}</td>
                <td>
                    <a *ngIf="nationalPark.picture" (click)="openFile(nationalPark.pictureContentType, nationalPark.picture)">
                        <img [src]="'data:' + nationalPark.pictureContentType + ';base64,' + nationalPark.picture" style="max-height: 30px;" alt="nationalPark image"/>
                    </a>
                    <span *ngIf="nationalPark.picture">{{nationalPark.pictureContentType}}, {{byteSize(nationalPark.picture)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/national-park', nationalPark.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/national-park', nationalPark.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'national-park/'+ nationalPark.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nationalParks && nationalParks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
